<h1>Gestion des Stagiaires</h1>
<form [formGroup]="exform">
  <table class="form">
    <tr><td><label for="id">Identificateur :</label></td><td>
      <input formControlName="ident" type="text" placeholder="Identificateur" size="10" maxlength="5" id="id"/>
        </td></tr>
      <tr><td>First Name :</td><td>
        <input formControlName="firstName" name="firstName" id="firstName"/>
      </td></tr>
      <tr><td>Last Name :</td><td>
        <input formControlName="lastName" name="lastName" id="lastName" cols="30" rows="3"/>
      </td></tr>
      <tr><td>Email :</td><td>
          <input formControlName="email" type="email"  name="email" id="email" />
      </td></tr>
      <tr><td>Languages :</td><td>
            <input type="checkbox" value="fr" name="lang" id="fr"/> French
            <input type="checkbox" value="en" name="lang" id="en"/> English
            <input type="checkbox" value="es" name="lang" id="es"/> Spanish
        </td></tr>
        <tr>
            <td colspan="2" align="right">
                <input type="button" value="Valider" onclick="validate()"/>
                <input class="button" type="reset" value="Annuler"/>
            </td>
        <tr>
    </table>
</form>
