
.form {
    width: 90%;
    border: 1px solid blue;
    padding: 10px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
}

.form tr:last-child {
    background-color: lightgray;
}

.form tr:last-child > td{
    padding: 5px;
}

.button {
    padding-left: 10px;
}

/*.form {
    margin: 50px;
    border: 1px gray solid;
}

.form table {
    padding-left: 30%;
}

.form table td:nth-child(odd) {
    font-size: 20px;
    font-weight: bold;
    color: gray;
    padding-right: 16px;
}
*/



